<% QResource.find(params[:id]).incoming(:contains).depth(:all).reverse_each do |res| %>
    <span class="res-helpers">[id:<%= res.id %>] </span><%= link_to res.title, q_map_tree_path() + "?root_id=" + res.id %> →
<% end %>

<span class="res-helpers">[id:<%= @paragraph.id %>] </span><%= @paragraph.title %>
<h1><%= @paragraph.title %></h1>

<%=raw '<p class="tree-helpers">Источник: '+@paragraph.isource+'</p>' if @paragraph.isource && !@paragraph.isource.empty? %>

<div class="q-paragraph-relation-box">
  <div class="q-paragraph-relation-box-title">
    <%= image_tag("icons/blue-document-tree.png", :size => "16x16", :class => "q-paragraph-relation-box-switcher-icon", :align => "left", :alt => "↓") %>
    Смысловые взаимосвязи параграфа:
    <span class="q-paragraph-relation-box-switcher">Развернуть</span>
  </div>
  <div class="q-paragraph-relation-box-items">
    <% if @rel_res["BasedOn"] && !@rel_res["BasedOn"].empty? %>
        <div class="q-paragraph-relation-box-items-relType">Основывается на:</div>
        <% @rel_res["BasedOn"].each do |rel_r| %>
            <div class="q-paragraph-relation-box-items-raw">
              <span class="res-helpers">[ph:id:<%= rel_r.id %>] </span>
              <%= link_to rel_r.title, q_paragraph_show_path() + "?id=" + rel_r.id %>
            </div>
        <% end %>
    <% end %>
    <% if @rel_res["NeedToLearn"] && !@rel_res["NeedToLearn"].empty? %>
        <div class="q-paragraph-relation-box-items-relType">Необходим для изучения:</div>
        <% @rel_res["NeedToLearn"].each do |rel_r| %>
            <div class="q-paragraph-relation-box-items-raw">
              <span class="res-helpers">[ph:id:<%= rel_r.id %>] </span>
              <%= link_to rel_r.title, q_paragraph_show_path() + "?id=" + rel_r.id %>
            </div>
        <% end %>
    <% end %>
  </div>
</div>

<div class="q-paragraph-knw-level-box">
  <div class="q-paragraph-knw-level-box-title">
    <%= image_tag("icons/category.png", :size => "16x16", :class => "q-paragraph-relation-box-switcher-icon", :align => "left", :alt => "Уровни") %>
    Уровень усвоения параграфа:
    <span class="q-paragraph-knw-level-box-switcher">Развернуть</span>
  </div>
  <div class="q-paragraph-knw-level-box-items">
    sdfsdfsdf
  </div>
</div>

<div class="q-paragraph-relation-res-line margin-top-15"></div>
<div class="q-paragraph-relation-res-items-box">
  <div class="q-paragraph-relation-res-icon">
    <%= image_tag("icons/cards-stack.png", :size => "16x16", :class => "q-paragraph-relation-box-switcher-icon", :align => "left", :alt => "↓") %>
  </div>
  <div class="q-paragraph-relation-res-item">
    <span class="tree-helpers">1. </span><%= link_to "Упражнения", q_problem_index_path() + "?root_id=" + params[:id] %>
    (<%= @problems_all_right.count %>/<%= @problems_all.count %>)
  </div>
  <div class="q-paragraph-relation-res-item">
    <span class="tree-helpers">2. </span><a href="#">Примеры решения задач</a>
    (7)
  </div>
  <div class="q-paragraph-relation-res-item">
    <span class="tree-helpers">3. </span><a href="#">Файлы</a>
    (5)
  </div>
</div>
<div class="q-paragraph-relation-res-line margin-top-15"></div>

<% @p_units.each do |unit| %>
    <p class="q-paragraph-unit">
      <%=raw render_paragraph_unit(unit) %>
    </p>
<% end %>

