<% @bread_crumbs.reverse_each do |res| %>
    <span class="res-helpers">[id:<%= res.id %>] </span><%= link_to res.title, q_map_tree_path() + "?root_id=" + res.id %> →
<% end %>
<span class="res-helpers">[id:<%= @root.id %>] </span><%= @root.title %>
<h1><%= @root.title %></h1>
<div class="q-paragraph-relation-res-line margin-top-15"></div>
<p><%= @root.description %></p>
<div class="q-paragraph-relation-res-line margin-top-15 margin-bottom-17"></div>
<% @hierarchy.each do |res| %>
    <p>
      <% if res.outgoing(:is_type).first != nil %>
          <% if res.outgoing(:is_type).first.title == 'Type_QParagraph' %>
              <span class="res-helpers">[ph:id:<%= res.id %>] </span>
              <%= link_to res.title, q_paragraph_show_path() + "?id=" + res.id %>
              <br /><span class="description-comment"><%= res.description %></span>
              <%=raw '<div class="tree-helpers">Источник: '+res.isource+'</div>' if res.isource && !res.isource.empty? %>
          <% end %>
          <% if res.outgoing(:is_type).first.title == 'Type_QDiscipline' %>
              <div class="tree-map-discipline-block">
                  <h3><%= link_to res.title, q_map_tree_path() + "?root_id=" + res.id %></h3>
                  <div class="description-comment"><%= res.description %></div>
              </div>
          <% end %>
      <% else %>
          <span class="res-helpers">[id:<%= res.id %>] </span>
          <%= link_to res.title, q_map_tree_path() + "?root_id=" + res.id %>
          <br /><span class="description-comment"><%= res.description %></span>
      <% end %>
      </p>
<% end %>
<div class="clear-both"></div>
