<h1><%=raw @problem.title %></h1>
<p>
<h4><span class="res-helpers">[pr:id:<%= @problem.id %>] </span>Условие задачи</h4>
<div class="q-problem-body"><%=raw @problem.body %></div>
<p class="pr-helpers">Источник: <%=raw @problem.isource %></p>
</p>
<% if @right == true %>
    <h4>История ответов</h4>
    <% @result_cypher.each_with_index do |asw, index| %>
        <span class="res-helpers"><%= index+1 %>.&nbsp;</span>
        <%= asw.first[1] %>&nbsp;&nbsp;&nbsp;
    <% end %>
    <h4>Задача решена верно!</h4>
    Ответ: <%= @asw_right.body %>
<% else %>
    <h4>История ответов:</h4>
    <% @result_cypher.each_with_index do |asw, index| %>
        <span class="res-helpers"><%= index+1 %>.&nbsp;</span>
        <%= label_tag asw.first[1] %>&nbsp;&nbsp;&nbsp;
    <% end %>
    <% if @result_cypher.count >= 2 %>
        <h4>Решение задачи</h4>
        <%  @solution.each do |unit| %>
            <p class="q-paragraph-unit">
              <%=raw render_paragraph_unit(unit) %>
            </p>
        <% end %>
    <% end %>
    <h4>Выбери верный ответ</h4>
    <div class="q-problem-notice">
      Будь внимательнее — не торопись в выбором ответа. Чем больше дано неверных ответов на задачу, тем меньшим количеством баллов она оценивается.
    </div>
    <%= form_tag('solve') do -%>
        <% @answers.each_with_index do |asw, index| %>
            <p>
              <span class="res-helpers"><%= index+1 %>.&nbsp;</span>
              <%= radio_button_tag 'user_chose_answer', asw.id, false %>
              <%= label_tag asw.body %>
            </p>
        <% end %>
        <p><%= submit_tag "Ответить" %></p>
    <% end -%>
<% end %>


